
.idea/.name

*.iml

.idea/encodings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml
